<?xml version="1.0" encoding="utf-8"?>
<!--
Initial Author: Android Studio, Date: -
Extended by: Jason Ian Murray, Date: 25/11/15
Notes:
    -   Extended to include the .ButtonOneActivity.
    -   Added ParentAcvtivityName points back to the main
    menu from which the ButtonOneActivity is called. With
    this being specified additional features are available including
    an actionBar back button.
    -   Extended to remove the standard theme and replace it with a
    brighter one that hides the ActionBar. The ActionBar is to be
    replaced with a Toolbar.

Extended by: Jason Ian Murray, Date: 26/11/15
Notes:
    -   Updated the manifest to start with the splash screen instead
    of the MainMenuActivity.
    -   Updated the manifest with all the placeholder/template activities.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team10.studentwellbeingapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainMenuActivity" />

        <activity
            android:name=".ButtonOneActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>

        <activity
            android:name=".ButtonTwoActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>

        <activity
            android:name=".ButtonThreeActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>

        <activity
            android:name=".ButtonFourActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>

        <activity
            android:name=".ButtonFiveActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>

        <activity
            android:name=".ButtonSixActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>

        <activity
            android:name=".ButtonSevenActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>

        <activity
            android:name=".ButtonEightActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>
    </application>

</manifest>
