<?xml version="1.0" encoding="utf-8"?>
<!--
Initial Author: Android Studio, Date: -
Extended by: Jason Ian Murray, Date: 25/11/15
Notes:
Extended to include the .ButtonOneActivity. ParentAcvtivityName
points back to the main menu from which the ButtonOneActivity is called.
With this being specified additional features are available including
an actionBar back button.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team10.studentwellbeingapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ButtonOneActivity"
            android:parentActivityName=".MainMenuActivity">
        </activity>
    </application>

</manifest>
